#root {
	max-width: 1280px;
	margin: 0 auto;
	padding: 2rem;
	text-align: center;
	--red: #e72020ff;
	--redDark: rgb(145, 20, 20);
	--redDarker: #7c0000aa;
	--screenInfoColor: #3f3f3f;
	--yellowSpaceButton: #eec200;
	color: white;
	background-color: black;
}

figcaption {
	transform: translate(0px, -10px);
	margin: 0;
	padding: 0;
	span {
		margin-left: 5px;
		border-radius: 5px;
		padding-left: 5px;
		padding-right: 5px;
	}
}
.logo {
	height: 6em;
	padding: 1.5em;
	will-change: filter;
	transition: filter 300ms;
}
.logo:hover {
	filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
	filter: drop-shadow(0 0 2em #61dafbaa);
}

.back {
	background-color: var(--redDarker);
	font-size: 10px;
	width: 36px;
	height: 8px;
	padding: 2px;
}
.next {
	width: 36px;
	height: 8px;
	font-size: 10px;
	background-color: rgb(8, 0, 124);
	padding: 2px;
}
.rounded {
	width: 15px;
	height: 45px;
	aspect-ratio: 1;
	border-radius: 50%;
}
#pokedexContainer {
	display: flex;
	flex-direction: column;
	width: clamp(250px, 550px, 35%);
	height: 470px;
	border-radius: 17px 0 0 17px;

	#subComponent {
		display: flex;
		flex-direction: row;
	}
}

#mainComponent {
	background-color: var(--red);
	padding-top: 75px;
	border-radius: 0 0 0 17px;
	height: 390px;
}
#topDecoration {
	width: 275px;
	height: 105px;
	border-radius: 0 17px 0 0;
	background-image: url("./assets/top.svg");
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 17px;
	position: absolute;
}
.pokeCard {
	width: 250px;
	aspect-ratio: 1;
	background-image: url("./assets/screen.svg");
	background-repeat: no-repeat;
	background-position: center;
	p {
		font-size: 30px;
	}
}
.cardCaption {
	padding-top: 2.5rem;
}
.cross {
	width: 65px;
	aspect-ratio: 1;
	background-color: transparent !important;
	background-image: url("./assets/buttonCross.svg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}
#junction {
	border-radius: 0 17px 0 0;
	display: flex;
	background: linear-gradient(
		to right,
		var(--redDark) 0%,
		var(--red) 50%,
		var(--redDark) 100%
	);
	flex-direction: column;
	justify-content: space-around;
	height: 465px;

	.bracket {
		width: 25px;
		height: 15px;
		background-color: var(--redDarker);
	}
}

.hidden {
	opacity: 0;
}
#rightComponent {
	width: 250px;
	height: 475px;
	.topRightDecoration {
		margin-top: 49px;
		width: 250px;
		height: 90px;
		background-image: url("./assets/topRight.svg");
	}
	.rightWrapper {
		background-color: var(--red);
		width: 250px;
		height: 325px;
		border-radius: 0 0 17px 0;
	}
	.screenInfo {
		width: 200px;
		height: 70px;
		margin: 0 auto;
		background-color: var(--screenInfoColor);
		border-radius: 10px;
		box-shadow: 2px 2px #000000 inset;
		padding: 1rem;
		p {
			text-align: left;
			font-size: 12px;
			padding: 0;
			margin: 0;
		}
	}
}
.buttonWrapperRight {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 1.5rem;
	.tabs {
		padding: 0;
	}
	button {
		width: 13ch;
		background-color: aqua;
		font-size: 7px;
		color: black;
	}
}
.buttonWrapperBottom {
	display: flex;
	justify-content: space-around;
}
.yellowSpace {
	background-color: var(--yellowSpaceButton);
	width: 100px;
	height: 60px;
}
#buttonContainer {
	display: flex;
	height: fit-content;
	flex-direction: row;
	justify-content: space-around;
	padding: 1rem;
}
@keyframes logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

@media (prefers-reduced-motion: no-preference) {
	a:nth-of-type(2) .logo {
		animation: logo-spin infinite 20s linear;
	}
}

.card {
	padding: 2em;
}

.read-the-docs {
	color: #888;
}
